In [75]:
#Q1.create list of 5 random numbers and print the list
lst=[10,30,22,40,50]
#insert 3 new values to the list and print the updated list
lst.insert(0,5)
lst.insert(4,36)
lst.insert(7,60)
print(lst)
#try to use for loop to print each element in the list
for i in lst:
    print(i)

[5, 10, 30, 22, 36, 40, 50, 60]
5
10
30
22
36
40
50
60

In [81]:
#DICTIONARY
#Q1.Create a dictionary with keys and Values
Emp={"name":"John","age":25,"address":"NewYork"}
#Q2.add phone no
Emp["phone"]='1234567890'
print(Emp)

{'name': 'John', 'age': 25, 'address': 'NewYork', 'phone': '1234567890'}

In [105]:
#SET
#Q1.CREATE A SET 
set1={1,2,3,4,5}
print(set1)
#Q2 ADD VALUE TO THE SET
set1.add(6)
print (set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [109]:
#TUPLE
#CREATE A TUPLE
T1=(1,2,3,4)
print(T1)
#PRINT THE LENGTH OF TUPLE
print(len(T1))

(1, 2, 3, 4)
4